body {
    color: purple;
    background: black;
    font-size: 20px;
    font-family: "Kalnia Glaze", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #1d1d1d;
    color: rgb(58, 1, 44);
    font-family: "Kalnia Glaze", serif;
}
.passo {
    display: none;
}
.passo.ativo {
    display: block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}